.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.tagblock {
  background-color: rgb(193, 225, 239);
  margin-left: 10px;
  text-align: center;
  padding: 0.2px;
  border: none;
  border-radius: 3px;
}

.tagblock a {
  color: #0f4972;
  margin-bottom: 3px;
}

.userblock {
  background-color: rgb(221, 235, 245);
  margin-left: 10px;
  text-align: center;
  padding: 0.2px;
  border: none;
  border-radius: 3px;
}
.auserblockforallquestions {
  background-color:rgb(221, 235, 245);
  margin-right: 10px;
  text-align: center;
  padding:0.2px;
  border: none;
  border-radius: 3px;
}

#link {
  color: #146aa7;
  margin-bottom: 3px;
  text-decoration: none;
}

#reputation {
  color: #252728;
  font-weight: bold;
  margin-bottom: 3px;
}

#vote {
  color: #87868a;
  font-weight: 630;
  font-size: 25px;
  margin-left: 33px;
}

#date {
  color: #717073;
}
footer {
  background: #212529;
}
